#version: '3.3'
version: '3.7'

services:

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - ../frontend/:/app/result_build/

  db:
    image: postgres:13.0-alpine
    volumes:
      - /var/lib/postgresql/data/
    env_file:
      - .env
  web:
    image: ilyarog/foodgram:latest
    #build:
    #  context: ../backend
    restart: always
    #ports:
    #  - "8000:8000"
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
    #  - frontend_value:/app/build/
    depends_on:
      - db
    env_file:
      - .env

  nginx:
    #image: nginx:1.19.3
    build: .
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      #- frontend_value:/usr/share/nginx/html/
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    depends_on:
      - web

#  nginx:
#    image: nginx:1.21.3-alpine
#    ports:
#      - "81:80"
#    volumes:
#      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
#      - static_value:/var/html/static/
#      - media_value:/var/html/media/
#
#    depends_on:
#      - web

volumes:
  static_value:
  media_value:
  #frontend_value:
